/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



#define DEFAULT 0
#define NUM     1
#define SYM     2
#define NAV     3
#define QWERTY  4
/ {         
     behaviors {
          hm: homerow_mods {
                  compatible = "zmk,behavior-hold-tap";
                  label = "HOMEROW_MODS";
                  #binding-cells = <2>;
                  tapping-term-ms = <150>;
                  quick-tap-ms = <100>;
                  flavor = "tap-preferred";
                  bindings = <&kp>, <&kp>;
		  
        };
};
    
        
    };
    
/ {
   keymap {
           compatible = "zmk,keymap";
                
       	default_layer {
	bindings = <
	&kp Q        &kp W  &kp F  &kp P  &kp B     &kp J  &kp  L  &kp U      &kp Y    &kp APOS
	&kp A        &kp R  &kp S  &kp T  &kp G     &kp M  &kp  N  &kp E      &kp I    &kp O
	&mt LSHFT Z  &kp X  &kp C  &kp D  &kp V     &kp K  &kp  H  &kp COMMA  &kp DOT  &mt RSHFT FSLH
       		         &lt 2 MINUS &lt 1 BSPC     &kp SPACE &mt LCTRL SEMI 
		>;
		};

       	num_layer {
	bindings = <
	&kp EXCL   &kp AT  &kp POUND  &kp DLLR   &kp PRCNT     &kp CARET &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR
	&kp N1     &kp N2  &kp N3     &kp N4     &kp N5        &kp N6    &kp N7     &kp N8     &kp N9    &kp N0 
	&kp LSHFT  &none   &none      &kp GRAVE  &kp TILDE     &kp BSLH  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT
	                              &none      &trans        &kp SPACE &kp BSPC 
		>; 
		};
		
	sym_layer {
	bindings = <
	&kp ESC    &none      &none     &none   &none      &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp BSPC 
	&kp TAB    &kp CAPS   &none     &none   &none      &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp RET
	&kp LSHFT  &kp LCTRL  &kp LALT  &none   &none      &none     &none      &kp RALT   &kp RCTRL  &kp DEL
                                    &trans  &lt 3      &kp SPACE &kp BSPC
		>;
		};
		
	nav_layer {
	bindings = <
	&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR &bootloader     &none  &none  &none  &none  &none 
	&none        &none        &none        &none      &none           &none  &none  &none  &none  &none
	&none        &none        &none        &none      &none           &none  &none  &none  &none  &none
                                           &trans     &trans          &none  &none
		>;
		};	
		

        
	
	};
};
