/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {         
     behaviors {
          hm: homerow_mods {
                  compatible = "zmk,behavior-hold-tap";
                  label = "HOMEROW_MODS";
                  #binding-cells = <2>;
                  tapping-term-ms = <300>;
                  quick-tap-ms = <125>;
                  flavor = "tap-preferred";
                  bindings = <&kp>, <&kp>;
	 
	 gqt: global-quick-tap {
   		  compatible = "zmk,behavior-hold-tap";
   		  label = "GLOBAL_QUICK_TAP";
 		  #binding-cells = <2>;
  		  flavor = "tap-preferred";
  		  tapping-term-ms = <200>;
  		  quick-tap-ms = <125>;
  		  global-quick-tap;
 		  bindings = <&kp>, <&kp>;

        };
};
        

        
    };
    
/ {
   keymap {
           compatible = "zmk,keymap";
                
       	default_layer {
	bindings = <
	&kp Q       &kp W       &kp F &kp P &kp B         &kp J &kp L &kp U     &kp Y         &kp APOS 
	&kp A       &kp R       &kp S &kp T &kp G         &kp M &kp N &kp E     &kp I         &kp O
	&hm LSHFT Z &hm LCTRL X &kp C &kp D &kp V         &kp K &kp H &kp COMMA &hm RCTRL DOT &hm RSHFT FSLH
       		                &lt 1 MINUS &kp BSPC      &kp SPACE &lt 2 DEL 
		>;
		};

       	lower_layer {
	bindings = <
	&kp GRAVE &none  &none   &none    &kp MINUS      &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &kp SEMI
	&kp N1    &kp N2 &kp N3  &kp N4   &kp N5         &kp N6    &kp N7   &kp N8   &kp N9   &kp N0 
	&trans    &trans &kp DEL &kp LALT &kp ESC        &kp RET   &kp TAB  &trans   &trans   &trans 
	                         &trans   &kp BSPC       &kp SPACE &lt 2 CAPS
		>;
		};
		
	raise_layer {
	bindings = <
	&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &kp RET      &none  &none    &kp UP   &none     &none 
	&none      &none        &none        &none        &none        &none  &kp LEFT &kp DOWN &kp RIGHT &none
	&trans     &trans       &trans       &trans       &trans       &none  &none    &none    &none     &none
                                             &none        &kp BSPC     &kp SPACE &trans
		>;
		};	
		

        
	};
};
