/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



#define DEFAULT 0
#define NUM     1
#define SYM     2
#define NAV     3

/ {         
     behaviors {
          hm: homerow_mods {
                  compatible = "zmk,behavior-hold-tap";
                  label = "HOMEROW_MODS";
                  #binding-cells = <2>;
                  tapping-term-ms = <200>;
                  quick-tap-ms = <125>;
                  flavor = "tap-preferred";
                  bindings = <&kp>, <&kp>;
        };
};
        

        
    };
    
/ {
   keymap {
           compatible = "zmk,keymap";
                
       	default_layer {
	bindings = <
	&kp Q       &kp W       &kp F &kp P &kp B     &kp J &kp L &kp U     &kp Y         &kp APOS 
	&kp A       &kp R       &kp S &kp T &kp G     &kp M &kp N &kp E     &kp I         &kp O
	&hm LSHFT Z &hm LCTRL X &kp C &kp D &kp V     &kp K &kp H &kp COMMA &hm RCTRL DOT &hm RSHFT FSLH
       		          &lt 1 BSPC  &lt 2 MINUS     &kp SEMI &lt 3 SPACE 
		>;
		};

       	num_layer {
	bindings = <
	&kp GRAVE &kp LBKT &kp RBKT &kp BSPC  &kp_NLCK    &kp_DIVIDE   &kp_N7 &kp_N8 &kp_N9 &kp_MULTIPLY
	&kp FSLH  &kp LT   &kp GT   &kp SPACE &kp RET     &kp_SUBTRACT &kp_N4 &kp_N5 &kp_N6 &kp_PLUS 
	&trans    &trans   &kp LALT &kp TAB   &kp ESC     &kp_COMMA    &kp_N1 &kp_N2 &kp_N3 &kp_EQUAL 
	                            &trans    &none       &kp_DOT      &kp_0
		>;
		};
		
	sym_layer {
	bindings = <
	&kp TILDE &kp LBRC &kp RBRC &kp BSPC  &kp_NLCK    &kp PLUS  &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR 
	&kp QMARK &kp LT   &kp GT   &kp SPACE &kp RET     &kp RET   &kp DLLR &kp PRCNT &kp CARET &trans
	&trans    &trans   &kp LALT &kp TAB   &kp ESC     &kp DEL   &kp EXCL &kp AT    &kp POUND &trans
                                    &none     &trans      &kp SPACE &kp RPAR
		>;
		};
		
	nav_layer {
	bindings = <
	&bt BT_SEL 0 &bt BT_SEL 1 &none    &none    &none         &none   &none    &kp UP   &none     &none 
	&bt BT_CLR   &bt BT_SEL 2 &none    &none    &kp RET       &none   &kp LEFT &kp DOWN &kp RIGHT &none
	&trans       &trans       &kp LALT &kp TAB  &kp ESC       &kp DEL &none    &trans   &trans    &trans
                                           &kp BSPC &kp SPACE     &none   &trans
		>;
		};	
		

        
	};
};
